<!DOCTYPE html>
<html lang="en-in">
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{  url_for('static', filename = 'css/main.css') }}">
    </head>

    <body>
        <h1>This is the about page</h1>
        <p>We are the coding superstars</p>
        <p>A better link to better place to know about how i made this <a style ="color:indigo" href="https://www.w3schools.com">This is a link</a> </p>
        <img src="C:\Users\Nazim Patham\Pictures\Screenshots\Screenshot (20)" alt="The screenshot of line creation" width="550" height="250"/>
        <button>Click here</button>
    </body>
</html>